{
  "env": {
    "node": true,
    "es2021": true
  },
  "extends": ["eslint:recommended", "plugin:@typescript-eslint/recommended", "prettier"],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 12,
    "sourceType": "module"
  },
  "plugins": ["@typescript-eslint", "prefer-arrow", "prettier"],
  "rules": {
    "curly": "error",
    "eqeqeq": ["error", "smart"],
    "no-var": "error",
    "prefer-const": ["error", { "destructuring": "all" }],
    "arrow-body-style": ["error", "as-needed"],
    "quotes": ["error", "single", { "avoidEscape": true, "allowTemplateLiterals": false }],
    "no-console": ["warn", { "allow": ["warn", "error"] }],
    "prefer-arrow-callback": "error",
    "object-shorthand": "error",
    "no-shadow": ["error", { "builtinGlobals": false }],
    "spaced-comment": ["error", "always"],
    "no-nested-ternary": "error",
    "array-callback-return": ["error", { "allowImplicit": true, "checkForEach": true }],
    "func-style": ["error", "expression"],
    "eol-last": ["error", "always"],
    "no-use-before-define": "off",
    "@typescript-eslint/no-unused-vars": [
      "error",
      {
        "varsIgnorePattern": "^_",
        "argsIgnorePattern": "^_"
      }
    ],
    "@typescript-eslint/no-use-before-define": ["error"],
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "@typescript-eslint/member-delimiter-style": "warn",
    "prefer-arrow/prefer-arrow-functions": ["warn", { "singleReturnOnly": true }]
  }
}
